# ======================================================
# Python
# ======================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


# ======================================================
# Virtual environments
# ======================================================

.venv/
venv/
env/
ENV/


# ======================================================
# Django
# ======================================================

db.sqlite3
*.sqlite3

*.log

staticfiles/
media/


# ======================================================
# Environment files
# ======================================================

.env
.env.*


# ======================================================
# IDE
# ======================================================

.idea/
.vscode/


# ======================================================
# macOS
# ======================================================

.DS_Store


# ======================================================
# Python build / packaging
# ======================================================

build/
dist/
*.egg-info/


# ======================================================
# Migrations cache
# ======================================================

*/migrations/__pycache__/


# ======================================================
# Runtime / temp
# ======================================================

*.pid
*.sock
*.tmp


# ======================================================
# Collector debug files
# ======================================================

collector/test_log.txt

# GeoIP database
data/*.mmdb
