# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================
# Virtual environments
# =====================

.venv/
venv/
env/
ENV/

# =====================
# Django
# =====================

db.sqlite3
*.log
staticfiles/
media/

# =====================
# GeoIP database
# =====================

data/*.mmdb

# =====================
# PyCharm / IDE
# =====================

.idea/
.vscode/

# =====================
# macOS
# =====================

.DS_Store

# =====================
# Python packaging
# =====================

build/
dist/
*.egg-info/

# =====================
# migrations cache
# =====================

*/migrations/__pycache__/

# =====================
# test / debug files
# =====================

collector/test_log.txt
*.pid
