{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>VPN Dashboard</h2>

<div class="stats">

<div class="stat">
<h3>Aktív VPN user</h3>
<h1 id="stat-active">{{ active_users }}</h1>
</div>

<div class="stat">
<h3>Mai VPN session</h3>
<h1 id="stat-today">{{ today_sessions }}</h1>
</div>

<div class="stat">
<h3>Összes VPN session</h3>
<h1 id="stat-total">{{ total_sessions }}</h1>
</div>

<div class="stat">
<h3>Top VPN user</h3>
<h1 id="stat-topuser">
{% if top_user %}
{{ top_user.username }}
{% else %}
-
{% endif %}
</h1>
</div>

</div>


<div class="row">

<div class="col panel">

<h4>VPN kapcsolatok világtérképen</h4>

<div id="map"></div>

</div>

<div class="col panel">

<h4>VPN kapcsolatok ország szerint</h4>

<canvas id="countryChart"></canvas>

</div>

</div>


<div class="panel">

<h4>Legutóbbi VPN kapcsolatok</h4>

<table>

<tr>
<th>Felhasználó</th>
<th>Külső IP</th>
<th>Kapcsolódás ideje</th>
</tr>

{% for s in sessions %}
<tr>

<td>{{ s.username }}</td>

<td>
<span class="ip-flag" data-code="{{ s.country_code }}"></span>
{{ s.remote_ip }}
</td>

<td>{{ s.connected_at|date:"Y.m.d H:i:s" }}</td>

</tr>
{% endfor %}

</table>

</div>


<script>
var countryStats = {{ country_stats|safe }};
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}
