{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="report-header">
    <h2>{{ title }}</h2>
</div>


<div class="report-actions">
    <a href="/report/pdf/{{ period }}/" class="menu-btn">
        PDF letöltése
    </a>
</div>


<div class="panel">

<table class="report-table">

<thead>
<tr>
    <th>Felhasználó</th>
    <th>Session</th>
    <th>Összes VPN idő</th>
</tr>
</thead>


<tbody>

{% for u in users %}

<tr>

<td class="user-cell">
    <a href="{% url 'user_history' u.username %}">
        {{ u.username }}
    </a>
</td>

<td class="session-cell">
    {{ u.total_sessions }}
</td>

<td class="duration-cell">
    {{ u.duration }}
</td>

</tr>

{% empty %}

<tr class="empty-row">
<td colspan="3">
    Nincs adat
</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}
