<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style>

body{
font-family:Arial;
font-size:12px;
}

.header{
background:#f4c300;
padding:12px;
font-size:18px;
font-weight:bold;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:8px;
border-bottom:1px solid #ddd;
}

th{
background:#4ea67d;
color:white;
}

.footer{
margin-top:30px;
background:#4ea67d;
color:white;
padding:10px;
}

</style>

</head>

<body>

<div class="header">{{ title }}</div>

<table>

<tr>
<th>Felhasználó</th>
<th>Session</th>
<th>Összes VPN idő</th>
</tr>

{% for u in users %}

<tr>
<td>{{ u.username }}</td>
<td>{{ u.total_sessions }}</td>
<td>{{ u.duration }}</td>
</tr>

{% endfor %}

</table>

<div class="footer">

JGK VPN riport rendszer<br>
Generálva: {{ now|date:"Y.m.d H:i" }}

</div>

</body>
</html>
