{% extends "base.html" %}
{% load static %}
{% load duration %}

{% block content %}

<h2>{{ title }}</h2>

<div class="panel">

<table>

<tr>
<th>Felhasználó</th>
<th>Session</th>
<th>Összes VPN idő</th>
</tr>

{% for u in users %}

<tr>

<td>
<a href="/report/user/{{ u.username }}/">
{{ u.username }}
</a>
</td>

<td>
{{ u.total_sessions }}
</td>

<td>
{{ u.total_duration|duration_format }}
</td>

</tr>

{% empty %}

<tr>
<td colspan="3" style="text-align:center;padding:20px;">
Nincs adat
</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}
